.container-fluid {
    width: 80%;
    height: 100%;
    margin: auto auto;
    overflow: hidden;
}

.fa {
    height: 100%;
    color: #fff;
    font-size: 25px;
}

#update-banner {
    margin: calc(100vh - 230px) auto 0;
    text-align: center;
    width: 30vw;
    visibility: hidden;
}

#nofitext {
    color: #6441A4 !important;
}