doctype html
html(lang="ko-KR")
    head
        include head.pug
    body
        div.container-fluid
            div.paper 시청할 방송 아이디:
                input(placeholder="트위치 ID")
                button#move(onclick="twitch_move();") 이동
            div.paper.with-shadow.animated#update-banner
                a.fa#nofitext $$content$$